:root
{
    --app_background:rgb(144, 168, 168);
    --app__bodyBackground:rgb(235, 228, 228);
}


.app
{
  display:grid;
  place-items: center;
  background-color: var(--app_background);
  height: 100vh;
}

.app__body
{
    display: flex;
    height: 90vh;
    width: 90vw;
    margin-top: -20px;
    background-color: var(--app__bodyBackground);
    box-shadow: -1px 4px 20px -6px black;
}
.outsideChat
{
  flex:1;
  text-align:center;
  margin-top: 40vh;
  font-weight: 400;
  font-size: 28px;
}